<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
    <!-- 登录页面 -->
    <h2> xx后台管理系统</h2>
    <h3> 登录 </h3>
    <form action="/users/login" method="POST">
        <label >
            <span>用户名：</span>
            <input type="text" name="name" placeholder="请输入用户名">
        </label><br/>
        <label >
            <span>密&ensp;码：</span>
            <input type="password" name="pwd" placeholder="请输入密码">
        </label><br/>
        <input type="submit" placeholder="登录" class="sub">
        <a href="/register.html">没有账号？立即注册！</a>
        <br/>

    </form>
    </div>
</body>
</html>