<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>xxx 后台管理系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">


</head>
<body>
  <div class="container">
    <%- include('./common/head.ejs') %>

    <div class="lv-main">
      <%- include('./common/menu.ejs') %>

      <div class="body">
        手机管理
      </div>



    </div>

    <%- include('./common/foot.ejs') %>


  </div>

</body>
</html>>
