body{background-color: gray;}
/* .container{display: flex;} */
h2 {margin: 50px auto;text-align: center;}
h3{margin: 52px auto;text-align: center;}
form{padding-left: 457px;}
label{margin-top: 25px;}
.sub{margin-top: 25px;margin-right: 20px;}