<div class="lv-head">
    <dir class="left">
        <a href="/" class="logo"> xxx后台管理系统 </a>
    </dir>
    <div class="right">
        <p> 欢迎您 - xxx（管理员） </p>
        <button class="btn btn-primary">  退出  </button>
    </div>
</div>