<ul class="lv-menu">
    <!-- <li> <a href="/users.html"> 用户管理 </a>  </li> 这个地方就是切换页面的这个让用户切换到下面的页面不是切换到HTML页面-->
    <li> <a href="/users"> 用户管理 </a>  </li>
    <li> <a href="/brand"> 品牌管理 </a>  </li>
    <li> <a href="/phone"> 手机管理 </a>  </li>
</ul>